/* Master styles*/
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
}

.container {
    padding: 0 20px 20px;
    max-width: 2000px;
    margin: auto;
}

/* Nav styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

.nav-link-wrapper li {
    list-style-type: none; 
    position: relative;   
}
.nav-link-wrapper a{
    text-decoration: none;
    transition: color 0.5s;
    /*below I changed the color*/
    color: #8a8a8a;
    /*I added some padding*/
    margin: 0 4px;
    text-align: center;
    vertical-align: center;
}

.nav-link-wrapper a:hover {
    color: black;
}

.left-side > h1{
    font: 18px "Work Sans", sans-serif;
    color: #2B2B2B;  
    font-weight: 400;
    letter-spacing: 0.5em;
    word-spacing: 1em;
}
.right-side {
    font: 12px "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.right-side{
    display: flex;
    font: 12px "Work Sans", sans-serif;
    float: left;
    width: auto;
    text-decoration: none;
    z-index: 3;
    word-break: break-word;
    box-sizing: inherit;
}
*/



/* Custom item-wrapper*/
/*
.portfolio-items-wrapper {
    display: grid;
    
    grid-gap: 2rem;
}
*/

.portfolio-item-wrapper {
    height: auto;
    width: 100%;
    padding: 0 7.5px 15px;
    position: relative;
    box-sizing: border-box;

}

.portfolio-item-wrapper:hover .text {
    visibility: visible;
    opacity: 1;
    color: black;
    font: 15px "Work Sans", sans-serif;
    color: #666;
}

.portfolio-item-wrapper img:hover{
    opacity: 0.2;
    color: #666;
    transition: 0.9s;
    cursor: pointer;
}
/*
.portfolio-item-wrapper > div {
    width: 40%;
}
*/
.portfolio-item-wrapper img {
    height: auto;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.portfolio-item-wrapper p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;

    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                    supported by Chrome, Edge, Opera and Firefox */

}

.column {
    float: left;
    width: 50%;
    column-gap: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Specific pages*/
.image > img {
    width: 40%;

}
.explanation {
    font: "Work Sans", sans-serif;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}
/*
@media screen and (max-width: 850px) {
    .right-side {
      font-size: 18px;
    }
    .left-side {
        font-size: 27px;
        padding: 14px 16px;
    }
    .nav-wrapper {
        padding: 15px;
    }
    .nav-link-wrapper a{
        padding: 14px 16px;
    }
}
@media screen and (max-width: 450px) {
    .right-side {
        font-size: 15px;
    }
    .left-side {
        font-size: 20px;
        padding: 14px 4px;
    }
    .nav-wrapper {
        padding: 15px 2px;
    }
    .nav-link-wrapper a{
        padding: 14px 3px;
    }
}
*/
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
    .image img{
        width: 100%;
    }
}
*/
@media screen and (max-device-width: 500px) {
    .column {
      width: 100%;
    }
    .image img{
        width: 100%;
    }
}

